html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/* define a fixed width for the entire menu */
.navigation {
  position: absolute;
  top: 30%;
  left: 0%;
  width: 248px;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding-left: 10;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: #000;
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
  outline: #ffce07 solid thin;
}

/* add hover behaviour */
.mainmenu a:hover {
    color: #ffce07;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 500px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  font-size: .8em;
  outline: none;

}

.submenu p {
  font-size: .8em;
  color: #ffffff;
  padding: 20px;

}

/* hover behaviour for links inside .submenu */
.submenu a:hover {

}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
